#divPrincipal {

	width: 900px;
	height : 1200px;
	border : 2px  solid #000;						 
	margin: auto;
	background-color: #DF993F;

}

#encabezado {

	width: 860px;
	height : 145px;
	border : 2px  solid #000;
	margin-left: 20px;
	margin-top: 5px;
	background-color: #D5FBF6;

}

#titulo {

	display: inline;
	text-align: center;
	margin-left: 30px;
	margin-top: 50px;
	font-size: 250%;

}

#recuadroFoto {

	width: 120px;
	height : 120px;
	border : 2px  solid #000;
	float: right;
	margin-right: 10px;
	margin-top: 10px;
	background-color: white;
}

#miNombre {

	display: inline-flex;
	margin-left: 10px;
	margin-top: 50px;
	font-size: 250%;

}

 #cajaNavegacion {

 	width: 860px;
	height :25px;
	border : 2px  solid #000;
	margin-left: 20px;
	margin-top: 2px;
	background-color: #D5FBF6;

 }
 

ul {

	display: inline-flex;
	margin: 3px;
}

#home {

	margin-left: 60px;
	margin-bottom: 6px;



}

#contacto{

	margin-left:500px ;
	margin-bottom: 6px;

	
}



